/* About us css starts */

.about-image {
    display: flex;
    align-items: center;
    height: 69vh;
}

.about-content p {
    font-size: larger;
}

.card-img {
    max-width: 540px;
}

/* About us css starts */

@media (max-width: 992px) {
    .about-image {
        height: 50vh;
    }
}

@media (max-width: 768px) {
    .about-image {
        width: 80vw;
        height: 50vh;
    }
}

@media (max-width: 576px) {
    .about-image {
        width: 100vw;
        height: 35vh;
    }
}